<section class="hero">
    <div class="hero-logo">
  <img src="./img/logo.png" alt="Event Booster" />
</div>
  <div class="container hero-container">
    <h1 class="hero-title">
        FIND BEST EVENTS
        <br>
      AROUND THE WORLD
    </h1>
    <div class="search-box">
  <div class="input-wrapper">
    <input
      class="hero-input"
      type="text"
      placeholder="Start searching"
    />

    <img
      class="search-icon"
      src="./img/search.svg"
      alt=""
    />
  </div>

  <div class="select-wrapper">
    <select class="hero-select">
      <option>Choose country</option>
    </select>

    <img
      class="select-icon"
      src="./img/Polygon.svg"
      alt=""
    />
  </div>
</div>
  </div>
</section>